name: test
on:
  push:
    paths:
      - '.github/workflows/second.yaml'

jobs:
  terraform:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout Repository
          uses: actions/checkout@v2
        - name: Set up AWS credentials
          uses: aws-actions/configure-aws-credentials@v2
          with:
             aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
             aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
             aws-region: ap-northeast-1


        - name: Set up Terraform
          uses: hashicorp/setup-terraform@v1
          with:
            terraform_version: 1.0.0

        - name: Initialize Terraform
          run: terraform init


        - name: Create Workspace
          run: terraform workspace new 405441993120

        - name: Select Workspace
          run: terraform workspace select 405441993120

        - name: Terraform Plan
          run: terraform plan -out=tfplan

        - name: Terraform Apply
          run: terraform apply -auto-approve tfplan
        # Note: Use '-auto-approve' in non-interactive environments to automatically approve changes.

        - name: Clean up
          run: rm -f tfplan 